
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Cabecera - contenido - footer */
    margin: 0;
    background: url(../img/fondo.jpg) no-repeat  center center fixed ;
    
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: min-content; /* Filas se crean según contenido */
    gap: 8px;
    width: 100%;
    min-height: 100vh; /* Cambia a min-height */
}
/*
div{
    border: 1px solid black;
}
    */

.barranav {
    grid-column: span 8 / span 8;
}

.navbar-custom {
    font-family: 'Chewy', cursive;
}

/* color de los  textos del navbar */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .form-control,
.navbar-dark .btn-outline-light {
    color:#c6dc93; 
}

.navbar-dark .dropdown-item{
    color: black;
}




/*-------------------------------Carrusel-------------------------------------------------*/  
.card{
    width: 14rem;
    height: 500px;
}
.card img{
    width: auto; 
    height: 200px;
    object-fit: cover;
}

.card li{
    background-color: #c6dc93;
}

.card-body{
    background-color: #63a91f;
    height: 130px;
   
}
.card-link{
    text-decoration: none;
    color :#c6dc93
}
.carrusel {
    grid-column: span 8 / span 8;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.letrero {
    grid-column: span 8 / span 8;
    grid-row-start: 4;
    align-items: center;
    display: grid;
    place-items: center;
    background : linear-gradient(#63a91f,#c6dc93);
    
    width: 100%;
    

}
.letrero h2{
    font-family: "Permanent Marker", cursive;
    font-size: 35px; /* Puedes ajustar el tamaño */
    color: #1a512e; /* Color que usaste en el navbar */
    text-align: center;
    margin: 1rem 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
    font-size: 1.7rem; 
}

.producto1 {
    grid-column-start: 3;
    grid-row-start: 5;
   
}

.producto2 {
    grid-column-start: 4;
    grid-row-start: 5;
}

.producto3 {
    grid-column-start: 5;
    grid-row-start: 5;
}

.producto4 {
    grid-column-start: 6;
    grid-row-start: 5;
}

.producto5 {
    grid-column-start: 3;
    grid-row-start: 6;
}

.producto6 {
    grid-column-start: 4;
    grid-row-start: 6;
}

.producto7 {
    grid-column-start: 5;
    grid-row-start: 6;
}

.producto8 {
    grid-column-start: 6;
    grid-row-start: 6;
}

.producto9 {
    grid-column-start: 3;
    grid-row-start: 7;
}

.producto10 {
    grid-column-start: 4;
    grid-row-start: 7;
}

.producto11 {
    grid-column-start: 5;
    grid-row-start: 7;
}

.producto12 {
    grid-column-start: 6;
    grid-row-start: 7;
}

.producto13 {
    grid-column-start: 3;
    grid-row-start: 8;
}

.producto14 {
    grid-column-start: 4;
    grid-row-start: 8;
}

.producto15 {
    grid-column-start: 5;
    grid-row-start: 8;
}

.producto16 {
    grid-column-start: 6;
    grid-row-start: 8;
}

.producto17 {
    grid-column: span 8 / span 8;
    grid-row-start: 9;
}

.destacado{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 10;
     
}
.producto1_dest{
    place-items: center;
}

.footer {
    grid-column: span 8 / span 8;
    grid-row-start: 12;
    grid-column: 1 / -1; /* Ocupa desde la primera hasta la última columna */
    align-self: end; /* Alinea al final de la celda grid */
    padding: 1rem;
    background: #1a512e; /* Color de fondo opcional */
    border-top: 1px solid #dee2e6; 
    text-align: center;
    color: #c6dc93;
}
        

.carrusel {
    width: 100%; /* Ocupa el ancho del contenedor padre */
    height: 100%; /* Ocupa la altura del contenedor padre */
    overflow: hidden; /* Evita desbordamientos */
}


/* Imágenes del carrusel */
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene relación de aspecto cubriendo el espacio */
    object-position: center; /* Centra la imagen */
}



    /* Opcional: Ajuste responsivo */
    @media (max-width: 768px) {
        .img-carousel {
            height: 300px; /* Altura menor en dispositivos móviles */
        }
    }